<!-- <!DOCTYPE html>
<html>
<head>
    <title>Crossy Road Game</title>
</head>
<body>
    <h1 style="background-color: lavender;">Crossy Road Game!</h1>
    <script src="/static/crossy_road.js"></script>
    <pre style="background-color: lavender;"> 
        Have a nice day !! :) 
    </pre>

</body>
</html>

 -->

 <!DOCTYPE html>
<html>
<head>
    <title>Crossy Road</title>
</head>
<body>
    <h1>My Crossy Road Game</h1>
    <script src="/static/crossy_road.js"></script>
</body>
</html>

